*{
    margin: 0;
    padding: 0;
    font: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
body{
    background: #222;
    margin-top: -90px;
}

.box{
    max-width: 38%;
    max-height: 8%;
    color: #fff;
    background: linear-gradient(to right, #fc5c7d, #6a82fb);
    border-radius: 20px;
    margin: 100px auto 0;
    text-align: center;
    padding: 40px 35px 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
.box h1{
    margin-top: -10px;
    margin-bottom: 20px;
}
.search{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;

}
.search input{
    max-width: 90%;
    border: 0;
    outline: 0;
    background: rgb(229, 229, 229);
    color: #555;
    height: 53px;
    border-radius: 30px;
    padding: 10px 25px;
    flex: 1;
    margin-right: 15px;
    font-size: 18px
    
}

.search button{
    border: 0;
    outline: 0;
    background: rgb(229, 229, 229);
    color: #555;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: #555;
    cursor: pointer;
    
}

.btn button:active {
    background-color: transparent;
    border-color: rgb(229, 229, 229);
    border-style: groove; /* Sets the background color to none (transparent) when clicked */
    /* Other button styles when clicked */
}
.search button img{
    width: 20px;
    height: 20px;
}
.temp{
    font-size: 50px;

}

.city{
    font-size: 36px;
    margin-top: -20px;

}
.m_icon{
    margin-top: 30px;
    max-width: 25%;
}
.weather{
    display: none;

}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 40px;
}
.error{
    margin-top: 15px;
    margin-left: 10px;
    color: rgb(9, 9, 8);
    text-align: left;
}